html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .nav-css{
    font-family: sans-serif;
    color: #444;
  }
  .nav-css{
    text-decoration: none;
  }
  nav > ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu{
    padding: 0 0 10px 0;
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
  }
  .brand {
    float: left;
    padding: 20px 15px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .menu-items{
    float: right;
    margin: 0;
  }
  .menu-items .nav-link{
    display: inline;
    height: auto;
    margin: 0;
    float: left;
  }
  .menu-items .nav-link a{
    position: relative;
    display: block;
    padding: 20px 15px;
    text-transform: capitalize;
    font-size: .9rem;
    z-index: 2;
    transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.3s cubic-bezier(0,.67,1,.35) 0s;
  }
  .menu-items .nav-link a:hover{
    color: rgba(255,255,255,.9);
  }

  span > a:hover{
    color: rgba(255,255,255,.9);
  }
  .menu-items .nav-link a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaley(.1);
    transform-origin: top;
    transition: all 0.5s ease 0s; 
    -webkit-transition: all 0.5s cubic-bezier(.75,-0.5,0,1.75) 0s;
    z-index: -1;
  }
  .menu-items .nav-link a:hover:after{
    transform: scaley(1);
  }
  .menu-items .nav-link:first-child a:after{ background: #3498db; }
  .menu-items .nav-link:nth-child(2) a:after{ background: #ffd071; }
  .menu-items .nav-link:nth-child(3) a:after{ background: #f0776c; }
  .menu-items .nav-link:last-child a:after{ background: #1abc9c; }
  
  .landing{
    height: 100vh;
    width: 100vw;
    background-image: url("https://unsplash.com/photos/o00L2q-BjdE/download?force=true");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: center;
  }